<h1><%= @quiz.title %></h1>

<%= link_to "Quiz Index", quizzes_url %>
<h2><%= @prompts.first.question %></h2>
<input type="text" id="text-matcher-input">

<br><br>

<% @prompts.each do |prompt| %>
	<div class="hidden-answer"></div>
<% end %>

<br><br>
















<br><br>