<h1><%= @quiz.title %></h1>

<h2><%= @quiz.prompt %></h2>
<input type="text" id="text-matcher-input">

<br><br>

<% @goal_answers.each do |goal_answer| %>
	<div class="hidden-answer"></div>
<% end %>

<br><br>

<%= link_to "Quiz Index", quizzes_url %>



<br><br>
<hr>
TEMPORARY:
<%= test_repeater(["content1", "content2", "third","egewtwe","rqwrqw"]) %>
<br><br>

<div id="test-div"></div>
<button id="test-button">New test element</button>
<br><br><br>

<div class="test-form">
<label for="test-text">Test Input</label>
<br>
<input type="text" id="test-text">
</div>
<br>
<button id="new-test-form">New test form</button>


<br><br><br>

<script type="text/javascript">
 var $tdiv = $("#test-div");
 $("#test-button").on("click", function () {
 	$tdiv.append("<p>WOO new test content!</p>")
 });

 $("#new-test-form").on("click", function () {
 	var $lastTDiv = $(".test-form").last();
 	var newDiv = $lastTDiv.clone();
 	newDiv.css("display", "none")
 	$lastTDiv.after(newDiv);
 	newDiv.slideToggle();

 });
</script>