<h1><%= @quiz.title %></h1>

<h2><%= @quiz.prompt %></h2>
<input type="text" id="text-matcher-input">

<br><br>

<% @goal_answers.each do |goal_answer| %>
	<div class="hidden-answer"></div>
<% end %>

<br><br>

<%= link_to "Quiz Index", quizzes_url %>




<br><br>
TEMPORARY:
<%= test_repeater(["content1", "content2", "third","egewtwe","rqwrqw"]) %>