<script type="application/json" id="bootstrapped_quizzes">
		{	"quizData": <%= (render(:file => 'quizzes/quizzes.rabl')).html_safe %>,
			"usersData": <%= (render(:file => 'users/users.rabl')).html_safe %>,
      "currentUserData": <%= (render(:file => 'users/user.rabl')).html_safe %>
		}


</script>

<script type="application/javascript">
	$(document).ready(function () {
		var data = JSON.parse($("#bootstrapped_quizzes").html());
		console.log(data);
		var quizData = data.quizData;
		var usersData = data.usersData;
    var currentUserData = data.currentUserData;
		console.log(data)
		var $rootEl = $("#root-main-div");

		window.Qwisme.initialize({
      $rootEl: $rootEl,
      quizData: quizData,
      usersData: usersData,
      currentUserData: currentUserData
    });
	});
</script>


<div id="root-main-div" class="container">
</div>

<!-- Modal -->
<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="noticeModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Notice</h4>
      </div>
      <div class="modal-body" id="notice">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


