<script type="application/json" id="bootstrapped_quizzes">
	<%= @quizzes.to_json(:methods => :game_data, :include => {:quiz_prompts => { :include=>:valid_answers}} ).html_safe %>
</script>

<script type="application/javascript">
	$(document).ready(function () {
		var quizData = JSON.parse($("#bootstrapped_quizzes").html());
		var $rootEl = $("#root-main-div");

		window.Qwisme.initialize($rootEl, quizData);
	});
</script>

<div id="root-main-div"></div>