EXAMPLE:
<hr>

<ul class="media-list">
	<li class="media">
		<a class="pull-left">
			left stuff
		</a>
		<div class="media-body">
			<h4 class="media-heading">Author name?</h4>
			COMMENT BODY GOES HERE
			<br>
			YEAH!
			<ul class="media-list">
	<li class="media">
		<a class="pull-left">
			left stuff
		</a>
		<div class="media-body">
			<h4 class="media-heading">Author name?</h4>
			COMMENT BODY GOES HERE
			<br>
			YEAH!
		</div>
	</li>
</ul>
		</div>
	</li>
</ul>

<hr>
Now with divs!
<hr>

<div class="media">
  <a class="pull-left" href="#">
    LEFT STUFF GOES HERE
  </a>
  <div class="media-body">
    <h4 class="media-heading">erewrqweqw<br>wqewqerwqrqw</h4>


    
    <div class="media">
  <a class="pull-left" href="#">
    LEFT STUFF GOES HERE
  </a>
  <div class="media-body">
    <h4 class="media-heading">erewrqweqw<br>wqewqerwqrqw</h4>
    ...
  </div>
</div>



  </div>
</div>