<div class="row">
	<div class="col-xs-12">
		<h3>
			Comments
		</h3>
	</div>
</div>



<div id="temp-comments" class="row">
	<div class="col-xs-6">
		<ul id="temp-comment-list">
			<% comments.each(function (comment) { %>
				<li>
					<%= comment.escape("body") %>
				</li>
			<% }) %>
		</ul>

	</div>
</div>



<div class="row">
	<div class="col-xs-6">
		EXAMPLE:
		<hr>

		<ul class="media-list">
			<li class="media">
				<a class="pull-left">
					<img src="http://s3-us-west-1.amazonaws.com/qwis-me-development/users/avatars/000/000/001/small/mrt.jpg?1384226707" class="img-rounded">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Author name?</h4>
					<p>
						COMMENT BODY GOES HERE
						<br>
						YEAH!
					</p>



					<div class="panel-group" id="reply-boxID">
						<div class="panel panel-default">
							<div class="panel-heading">
								<span class="panel-title">
									<a data-toggle="collapse" data-parent="#reply-boxID" href="#collapseOne">
										Reply to this comment
									</a>
								</span>
							</div>
							<div id="collapseOne" class="panel-collapse collapse">
								<div class="panel-body">
									<form>
										<textarea class="form-control" rows="3"></textarea>
									</form>
								</div>
								<br>
							</div>
						</div>
					</div>







		<ul class="media-list">
			<li class="media">
				<a class="pull-left">
					<img src="http://s3-us-west-1.amazonaws.com/qwis-me-development/users/avatars/000/000/001/small/mrt.jpg?1384226707" class="img-rounded">
				</a>
				<div class="media-body">
					<h4 class="media-heading">Author name?</h4>
					<p>
						COMMENT BODY GOES HERE
						<br>
						YEAH!
					</p>
				</div>
			</li>
		</ul>
				</div>
			</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<hr>
	<form id="new-comment-form">
			<label for="new-comment-field">
				<h4>
					New comment
					<small>Max. 200 characters</small>
				</h4>
			</label>
			<textarea id="new-comment-field" rows="3" class="form-control" name="comment[body]"></textarea>
			<br>
			<button type="button" id="add-comment" class="btn btn-primary">Add comment</button>
		</form>
	</div>
</div>