<div class="row">
	<div class="col-xs-12">
		<h3>
			Comments
			<small>Newest first</small>
		</h3>
	</div>
</div>


<div class="row">
	<div class="col-xs-12">
		<ul id="temp-comments-list2" class="media-list">
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
		<hr>
		<form id="new-comment-form">
			<label for="new-comment-field">
				<h4>
					New comment
					<small>Max. 200 characters</small>
				</h4>
			</label>
			<textarea id="new-comment-field" rows="3" class="form-control" name="comment[body]"></textarea>
			<br>
			<button type="button" id="add-comment" class="btn btn-primary">Add comment</button>
		</form>
	</div>
</div>