<div id="root-main-div" class="container">
	<div class="row">
		<div class="col-xs-2">
		</div>

		<div class="col-xs-8">
			<div class="page-header">
				<h1>Forgot your password?</h1>
			</div>
			

			<%= devise_error_messages! %>

			<div class="form-group">
				<form action="<%= user_password_url %>" method="POST">
					<input name="utf8" type="hidden" value="✓">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

					<label for="user_email">
						<span class="h4">
							Email
						</span>
					</label>
					<input autofocus="autofocus" id="user_email" name="user[email]" type="email" value="" class="form-control">

					<br>
					<div>
						<input name="commit" type="submit" value="Send me reset password instructions" class="btn btn-warning">
					</div>
				</form>
			</div>

			<%= render "users/shared/links" %>
		</div>
	</div>
</div>