<div class="row">
	<div class="page-header col-xs-12">
	<h1>
		<%= user.escape("username") %> 
		<small> 
			&nbsp;&nbsp; member since <%= user.escape("created_at") %>
		</small>
	</h1>
	wqrwrwq
	</div>
</div>

<!-- http://bronxbanter.arneson.name/wordpress/wp-content/uploads/2009/07/mrt.jpg -->

<div class="row" id="quiz-top-info">
	<div class="col-xs-3">
		<img src="<%= user.get('avatar_big') || 'https://s3-us-west-1.amazonaws.com/qwisme-development/blank_avatar_resized.png' %>" alt="User image" class="img-thumbnail">
	</div>

	<div class="col-xs-9 col-md-6">
		<h3>
			Bio
		</h3>

		<p>
			<%= user.escape("description") || "NO DESCRIPTION" %>
		</p>
	</div>
	
	<div class="col-xs-12 col-md-3">
		<dl class="dl-horizontal">
			<dt><a id="q-point-explain">Qwismaster points***</a></dt>
			<dd>NUM</dd>
			
			<dt>Favorites</dt>
			<dd>NUM</dd>
			
			<dt>Plays</dt>
			<dd>NUM</dd>
			
			<dt>Unique plays</dt>
			<dd>NUM</dd>

			<dt>Last played</dt>
			<dd>DATE</dd>
		</dl>
	</div>

</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<ul id="user-tabs" class="nav nav-pills nav-justified">
			<li class="active"><a href="#history-tab" data-toggle="tab">
				<span class="h5">Quiz History</span>
			</a></li>
			<li><a href="#favs-tab" data-toggle="tab">
				<span class="h5">Favorite Quizzes</span>
			</a></li>
			<li><a href="#stats-tab" data-toggle="tab">
				<span class="h5">Play Statistics</span>
			</a></li>
			<li><a href="#authored-quizzes-tab" data-toggle="tab">
				<span class="h5">Authored Quizzes</span>
			</a></li>
		</ul>
	</div>
</div>

<hr>

<div class="tab-content">
	<div class="tab-pane fade in active" id="history-tab">
		<div class="page-header">
			<h2>
				Qwistory
				<small>Remembering your Qwest for Qwestion fulfillment</small>
			</h2>
		</div>

		<div id="history-section"></div>
	</div>


	<div class="tab-pane fade" id="favs-tab">
		<div class="page-header">
			<h2>
				Favorites
				<small>Some Qwality quizzes</small>
			</h2>
		</div>

		<div id="favs-section"></div>
	</div>

	<div class="tab-pane fade" id="stats-tab">
		<div class="page-header">
			<h2>
				User Statistics
				<small>Qwantitative reasoning</small>
			</h2>
		</div>

		<div id="stats-section"></div>
	</div>

	<div class="tab-pane fade" id="authored-quizzes-tab">
		<div class="page-header">
			<h2>
				Authored Quizzes
				<small>A Qwiver of personal Qwibbles</small>
			</h2>
		</div>

		<div id="authored-quizzes-section"></div>
	</div>
</div>