<div class="row">
	<div class="page-header col-xs-12">
	<h1>
		<%= user.escape("username") %> 
		<small> 
			&nbsp;&nbsp; member since DATE
		</small>
	</h1>
	wqrwrwq
	</div>
</div>

<!-- http://bronxbanter.arneson.name/wordpress/wp-content/uploads/2009/07/mrt.jpg -->

<div class="row" id="quiz-top-info">
	<div class="col-xs-3">
		<img src="http://i42.tinypic.com/68fmly.jpg" alt="User image" class="img-thumbnail">
	</div>

	<div class="col-xs-9 col-md-6">
		<h2>
			User description?
			<small>
				&nbsp;&nbsp; or motto?
			</small>
		</h2>

		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.
		</p>
	</div>
	
	<div class="col-xs-12 col-md-3">
		<dl class="dl-horizontal">
			<dt>Qwismaster points***</dt>
			<dd>NUM</dd>
			
			<dt>Favorites</dt>
			<dd>NUM</dd>
			
			<dt>Plays</dt>
			<dd>NUM</dd>
			
			<dt>Unique plays</dt>
			<dd>NUM</dd>

			<dt>Last played</dt>
			<dd>DATE</dd>
		</dl>
	</div>

</div>

<hr>

<div class="row">
	<div class="col-xs-12">
		<ul class="nav nav-tabs nav-justified">
			<li class="active"><a>Quiz History</a></li>
			<li><a>Favorite Quizzes</a></li>
		</ul>
	</div>
</div>