<h4>
	Quiz preview
	<br>
	<small>Index</small>
</h4>
<hr>

<h5><%= quizTitle %></h5>
<div class="media" style="float:left; width:70%;">
	<a class="pull-left">
		QUIZ 
		<br>
		PICTURE
	</a>
	<div class="media-body">
		<h6 id="prev-quiz-question">
			<%= quizQuestion %>
		</h6>
		<p>
			<%= quizDescrip %>
		</p>
	</div>
</div>

<div style="float:left; padding:0;width: 30%;margin-top:15px">
	<div id="prev-stats-headers" class="text-right" style="width: 45%; margin-right:5px; display:inline-block;">
		<strong>
			Time limit
			<br>
			Category
			<br>
			Scope
		</strong>
	</div>

	<div id="prev-stats-data" class="text-left" style="width:45%;margin-left:5px;display:inline-block;">
		<div id="prev-time-limit">
			TIME
		</div>

		<div id="prev-category">
			CATEGORY
		</div>

		<div id="prev-scope">
			<%= quizScope %>
		</div>
	</div>
</div>

<div style="width:100%;border:1px solid green;float:left">
	<hr>
	<h4>
		<small>Quiz page</small>
	</h4>
	<hr>
	wqewqwqtqw
</div>