<h1>Playing...</h1>
<h2><%= quiz.escape("title") %></h2>

<a href="#">Quiz Index</a>

<h3><%= prompts.first().escape("question") %></h3>

<button id="start-game">Start Game</button>
<br><br>
<label for="player-input">Enter text:</label>
<br>
<input type="text" id="player-input" disabled>

<br><br>

# Correct answers:
<div id="correct-count">0</div>

<br><br>

<div id="answers-container"></div>

<br><br>

TEMPORARY:
<ul>
<% prompts.each(function (prompt) { %>
	<li>
		<%= prompt.escape("question") %> ANSWERS:
		<ul>
		<% prompt.get("valid_answers").each(function (vAns) { %>
		<li>
			<%= vAns.escape("valid_answer") %>
		</li>
		<% }) %>
		</ul>
	</li>
<% }) %>
</ul>

<br><br>
