<h1><%= quiz.escape("title") %></h1>

<a href="#">Quiz Index</a>

QUIZ STATS

<h2><%= prompts.first().escape("question") %></h2>
<input type="text" id="text-matcher-input">

<br><br>

<button id="start-quiz">Start Quiz</button>
