<h1>Playing...</h1>
<h2><%= quiz.escape("title") %></h2>

<a href="#">Quiz Index</a>

<h2><%= prompts.first().escape("question") %></h2>

<button id="start-game">Start Game</button>
<br><br>
<label for="player-input">Enter text:</label>
<br>
<input type="text" id="player-input" disabled>

<br><br>

# Correct answers:
<div id="correct-count">0</div>

<br><br>

<div id="answers-container"></div>

<br><br>

TEMPORARY:
<ul>
<% prompts.each(function (prompt) { %>
	<li>
		<%= prompt.escape("question") %> ANSWERS:
		<ul>
		<% prompt.get("possible_answers").each(function (vAns) { %>
		<li>
			<%= vAns.escape("valid_answer") %>
		</li>
		<% }) %>
		</ul>
	</li>
<% }) %>
</ul>

<br><br>

<!-- TEMPORARY LOCATION -->

<%

	$(document).ready(function () {


		ansDivs = {};

		genAnswerDivs($("#answers-container"));

		$("#player-input").on("keyup keydown", function (event) {
			var $inputField = $(event.target);
			var input = $inputField.val();
			input = $.trim(input);

			if (isAnswer(input)) {
				var guessQuestion = ansToQues[input];
				var validAnswers = quesToAns[guessQuestion];
				var correctAns = _.first(validAnswers);

				revealAns(correctAns);
				posAnswers = _.difference(posAnswers, validAnswers);
			}
		});
	});

%>