<div class="row">

	<div class="col-xs-5">
		<h2 class="text-left">
			<small>Qwery:</small>
			<br>
			<%= quiz.escape("question") %>
		</h2>
	</div>

	<div class="col-xs-4 text-center">
		<button type="button" id="start-game" class="btn btn-success btn-lg btn-block" role="button" style="margin-bottom: 5px;">
			Start Quiz
		</button>
		<button type="button" id="reset-game" class="btn btn-warning btn-lg" role="button" style="width: 49%;" disabled>
			Reset
		</button>
		<button type="button" id="quit-game" class="btn btn-danger btn-lg" role="button" style="width: 49%;" disabled>
			Qwit
		</button>
	</div>

	<div class="panel col-xs-3" id="timer">
		<h2>
			<small>Time left:</small>
			<br>
			<span id="minutes"><%= quiz.escape("time_limit") %></span>
			:
			<span id="seconds">00</span>
		</h2>
	</div>

</div>

<hr>

<div class="row">

	<div class="form-group col-xs-8" role="form">
		<label for="player-input"><span class="text-primary">Enter answer:</span></label>
		<input type="text" id="player-input" class="form-control" disabled>
	</div>

	<div class="col-xs-4 panel">
		<h3 class="text-center">
			<small>Answered correctly:</small>
			<span id="correct-count">0</span>
			<span class="text-muted">of <%= quiz.get("length") %></span>
		</h3>
	</div>
</div>

<hr>

<div class="row well">
	<div id="answers-container" class="text-center col-xs-12">
	</div>
</div>

<div class="row well">
	<div id="answers-container-titled" class="text-center col-xs-12">
	</div>
</div>

<div class="row">
	<div id="answers-container-images" class="well text-center col-xs-12" style="display:none">
	</div>
</div>


<div id="answer-div-protos" style="display: none;">
	<div id="simple-ans-proto" class="answer-div">
		<span class="ans-text"></span>
	</div>

	<div id="ans-with-header-proto" class="ans-with-head-div">
		<table>
			<tr>
				<td class="ans-header"></td>
				<td class="ans-text ans-header-text"></td>
			</tr>
		</table>
	</div>

	<div id="ans-with-img-proto">
		<div class="ans-text"></div>
		<div class="ans-img"></div>
	</div>
</div>