@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



/* temporary location, will movelater */


div.container {
	height: 100%;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 50px 10px 50px;
	border: 1px solid blue;
};


div.notices {
	height: 200px;
	width: 60%;
	color: black;
	text-align: center;
	background-color: lightyellow;
	border: 1px solid red;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div.answer-div {
	height: 25px;
	width: 150px;
	border: 1px solid black;
	margin: 5px auto 5px auto;
	background-color: chocolate;
	float: left;
}

div.answer-with-prompt {
	width: 150px;
	border: 1px solid black;
	margin: 5px auto 5px auto;
}

div.answer-prompt-container {
	border-bottom: 1px solid black;
	font-weight: bold;
}

div.hidden-answer * {
	visibility: hidden;
}

.opt-field-filled {
	height: 25px;
	width: 150px;
	color: black;
	background-color: palegreen;
	padding: 2px;
	border: 1px solid green;
	margin: 2px 0px 2px 0px;

}

div.opt-field-blank {
	height: 25px;
	width: 150px;
	color: dimgray;
	background-color: ghostwhite;
	padding: 2px;
	border: 1px solid darkgray;
	margin: 2px 2px 2px 0px;
	float: left;
}

input.opt-field-active {
	height: 25px;
	width: 150px;
	float: left;
	padding: 2px;
	border: 1px solid orange;
	margin: 2px 2px 2px 0px;
}

