/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* temporary location, will movelater */
.hidden-answer {
	height: 25px;
	width: 150px;
	border: 1px solid black;
	margin: 5px;
	background-color: chocolate;
}

textarea {
	color: black;
	background-color: beige;
	padding: 2px;
	border: 1px solid darkslategray;
}

input[type=text], .opt-field-filled {
	height: 25px;
	width: 150px;
	color: black;
	background-color: beige;
	padding: 2px;
	border: 1px solid darkslategray;
	margin: 2px 2px 2px 0px;
}

div.opt-field-blank {
	height: 25px;
	width: 150px;
	color: dimgray;
	background-color: ghostwhite;
	padding: 2px;
	border: 1px solid darkgray;
	margin: 2px 2px 2px 0px;
	float: left;
}

.opt-field-filled {
	background-color: palegreen;
	border: 1px solid green;
	float: left;
}

input.opt-field-active {
	border: 1px solid orange;
	float: left;
}