@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



/* temporary location, will movelater */

body {
	background-color: #f4e1a8;
}

div.container {
	height: 100%;
	width: 80%;
	margin: 50px auto 0 auto;
	padding: 10px 50px 10px 50px;
	border: 1px solid lightgray;
	background-color: rgba(255, 255, 255, 0.7);
};


div.notices {
	height: 200px;
	width: 60%;
	color: black;
	text-align: center;
	background-color: lightyellow;
	border: 1px solid yellow;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

div.answer-div {
	color: #333;
	height: 25px;
	width: 200px;
	border: 1px solid #4f361a;
	margin: 5px auto 5px auto;
	background-color: #e87c00;
	float: left;
	padding: 2px;
	overflow: hidden;
}

div.answer-with-header {
	width: 200px;
	border: 1px solid black;
	margin: 0 auto 5px auto;
}

div.answer-prompt-container {
	border-bottom: 1px solid black;
	font-weight: bold;
}

div.hidden-answer * {
	visibility: hidden;
}

.ans-div-prev {
	color: #333;
	height: 20px;
	width: 110px;
	border: 1px solid #4f361a;
	margin: 0 auto 2px auto;
	background-color: #ffe047;
	float: left;
	overflow: hidden;
}

.ans-with-head-div {
	height: 25px;
	width: 401px;
	margin: 2px;
	overflow: hidden;
	padding: 0;
	border: 1px solid #4f361a;
	background-color: #e87c00;
	display: inline-block;
}

.ans-with-head-div-prev {
	height: 20px;
	width: 302px;
	margin: 0 auto 0 auto;
	display: block;
	overflow: hidden;
	padding: 0;
}

.ans-header {
	height: 25px;
	min-width: 200px;
	max-width: 200px;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: lightgrey;
	overflow: hidden;
}

.ans-header-prev {
	min-width: 150px;
	max-width: 150px;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: lightgrey;
	border: 1px solid #4f361a;
	overflow: hidden;
}

.ans-header-text {
	height: 25px;
	min-width: 200px;
	max-width: 200px;
	margin: 0;
	padding: 0;
	color: #333;
	overflow: hidden;
	border-left: 1px solid #4f361a;
}

.ans-header-text-prev {
	min-width: 150px;
	max-width: 150px;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #ffe047;
	border: 1px solid #4f361a;
	overflow: hidden;
}

.opt-field-filled {
	height: 25px;
	width: 200px;
	color: black;
	text-overflow: ellipsis;
	background-color: palegreen;
	padding: 2px;
	border: 1px solid green;
	margin: 2px 2px 2px 0px;
	float: left;
}

div.opt-field-blank {
	height: 25px;
	width: 200px;
	color: dimgray;
	background-color: ghostwhite;
	padding: 2px;
	border: 1px solid darkgray;
	margin: 2px 2px 2px 0px;
	float: left;
}

input.opt-field-active {
	height: 25px;
	width: 200px;
	float: left;
	padding: 2px;
	border: 1px solid orange;
	margin: 2px 2px 2px 0px;
	float: left;
}

#live-preview {
	width: 475px;
	min-height: 200px;
	margin: 10px 0 15px 0;
}

.pace .pace-progress {
  background: #ff5b34;
  position: fixed;
  z-index: 2000;
  top: 340;
  left: 0;
  height: 3px;

  -webkit-transition: width 1s;
  -moz-transition: width 1s;
  -o-transition: width 1s;
  transition: width 1s;
}

.pace-inactive {
  display: none;
}

#ss-jumbotron {
	border-radius: 10px;
	border: 1px solid rgb(222, 184, 135);
	height: 300px;
	padding: 0;
	overflow: hidden;
	background-image: url(http://s3-us-west-1.amazonaws.com/qwisme-development/qwisme_ss_joined.jpg);
	background-position: 0px 0px;
	background-repeat: repeat;
}

#ss-shader {
	z-index: 1;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 250, 228, 0.6);
	position: relative;
	overflow: hidden;
}

#jumbotron-content {
	z-index: 10;
	position: relative;
	top: -300px;
	padding: 20px;
	text-shadow: 0 0 3px rgb(228, 231, 158);
	color: rgb(70, 58, 22);
}

#jumbotron-caption, {
	padding-left: 400px;
	position: relative;
	top: -20px;
	display: inline-block;
}